{"openapi":"3.0.1","info":{"title":"Quiniela API","description":"API para gestionar quinielas, partidos y pronÃ³sticos","contact":{"name":"Quiniela Team"},"version":"1.0.0"},"servers":[{"url":"http://api.gjapps.com","description":"Generated server url"}],"security":[{"Bearer Authentication":[]}],"tags":[{"name":"Quinielas","description":"Endpoints para gestionar quinielas"},{"name":"AutenticaciÃ³n","description":"Endpoints para registro, inicio de sesiÃ³n, refresh token y recuperaciÃ³n de contraseÃ±a"},{"name":"PronÃ³sticos","description":"Endpoints para gestionar pronÃ³sticos"},{"name":"Resultados","description":"Endpoints para gestionar resultados de partidos"},{"name":"Grupos FIFA","description":"Endpoints para gestionar grupos y selecciones del mundial"},{"name":"AdministraciÃ³n","description":"Endpoints de administraciÃ³n"},{"name":"Partidos","description":"Endpoints para gestionar partidos"}],"paths":{"/quinielas":{"get":{"tags":["Quinielas"],"summary":"Listar quinielas del usuario","operationId":"getQuinielas","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/QuinielaResumenDTO"}}}}}}},"post":{"tags":["Quinielas"],"summary":"Crear nueva quiniela","operationId":"crearQuiniela","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CrearQuinielaRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/QuinielaDTO"}}}}}}},"/quinielas/join":{"post":{"tags":["Quinielas"],"summary":"Unirse a una quiniela por cÃ³digo de invitaciÃ³n","operationId":"unirseQuiniela","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnirseQuinielaRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/QuinielaDTO"}}}}}}},"/pronosticos":{"post":{"tags":["PronÃ³sticos"],"summary":"Crear o actualizar un pronÃ³stico","operationId":"crearPronostico","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CrearPronosticoRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PronosticoDTO"}}}}}}},"/pronosticos/batch":{"post":{"tags":["PronÃ³sticos"],"summary":"Guardar mÃºltiples pronÃ³sticos a la vez","operationId":"guardarPronosticosBatch","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CrearPronosticosBatchRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CrearPronosticosBatchResponse"}}}}}}},"/auth/verify-registration-otp":{"post":{"tags":["AutenticaciÃ³n"],"summary":"Verificar cuenta con cÃ³digo OTP","operationId":"verifyRegistrationOtp","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VerifyRegistrationOtpRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MessageResponse"}}}}}}},"/auth/reset-password":{"post":{"tags":["AutenticaciÃ³n"],"summary":"Restablecer contraseÃ±a con token","operationId":"resetPassword","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResetPasswordRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MessageResponse"}}}}}}},"/auth/resend-verification":{"post":{"tags":["AutenticaciÃ³n"],"summary":"Reenviar correo de verificaciÃ³n","operationId":"resendVerification","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResendVerificationRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MessageResponse"}}}}}}},"/auth/register":{"post":{"tags":["AutenticaciÃ³n"],"summary":"Registrar nuevo usuario","operationId":"register","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegisterRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RegisterResponse"}}}}}}},"/auth/refresh":{"post":{"tags":["AutenticaciÃ³n"],"summary":"Renovar access token mediante refresh token","operationId":"refresh","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RefreshTokenRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RefreshTokenResponse"}}}}}}},"/auth/login":{"post":{"tags":["AutenticaciÃ³n"],"summary":"Iniciar sesiÃ³n","operationId":"login","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LoginRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AuthResponse"}}}}}}},"/auth/forgot-password":{"post":{"tags":["AutenticaciÃ³n"],"summary":"Solicitar restablecimiento de contraseÃ±a","operationId":"forgotPassword","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ForgotPasswordRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MessageResponse"}}}}}}},"/admin/calculate-scores/{partidoId}":{"post":{"tags":["AdministraciÃ³n"],"summary":"Calcular puntos de un partido","description":"Calcula los puntos de todos los pronÃ³sticos asociados a un partido","operationId":"calcularPuntos","parameters":[{"name":"partidoId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}}}}},"/partidos/{id}":{"get":{"tags":["Partidos"],"summary":"Obtener detalle de un partido","operationId":"getPartidoDetalle","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PartidoDTO"}}}}}},"patch":{"tags":["Partidos"],"summary":"Actualizar marcador de un partido (Admin)","operationId":"actualizarPartido","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ActualizarPartidoRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PartidoDTO"}}}}}}},"/api/resultados/{id}":{"patch":{"tags":["Resultados"],"summary":"Actualizar resultado de partido (Admin)","operationId":"actualizarResultado","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ActualizarResultadoRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PartidoDTO"}}}}}}},"/api/resultados/{id}/finalizar":{"patch":{"tags":["Resultados"],"summary":"Finalizar partido y calcular puntos (Admin)","operationId":"finalizarPartido","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PartidoDTO"}}}}}}},"/api/grupos/partidos/{id}/resultado":{"patch":{"tags":["Grupos FIFA"],"summary":"Actualizar resultado de un partido","operationId":"actualizarResultado_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ActualizarResultadoRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PartidoDTO"}}}}}}},"/quinielas/{id}":{"get":{"tags":["Quinielas"],"summary":"Obtener detalle de una quiniela","operationId":"getQuinielaDetalle","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/QuinielaDetalleDTO"}}}}}}},"/quinielas/{id}/leaderboard":{"get":{"tags":["Quinielas"],"summary":"Obtener tabla de posiciones de una quiniela","operationId":"getLeaderboard","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/LeaderboardEntryDTO"}}}}}}}},"/pronosticos/quiniela/{quinielaId}":{"get":{"tags":["PronÃ³sticos"],"summary":"Ver mis pronÃ³sticos en una quiniela","operationId":"getMisPronosticos","parameters":[{"name":"quinielaId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MisPronosticosDTO"}}}}}}},"/pronosticos/quiniela/{quinielaId}/partido/{partidoId}":{"get":{"tags":["PronÃ³sticos"],"summary":"Ver todos los pronÃ³sticos de un partido","description":"Solo disponible despuÃ©s de que el partido comience","operationId":"getPronosticosPorPartido","parameters":[{"name":"quinielaId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"partidoId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PronosticosPorPartidoDTO"}}}}}}},"/pronosticos/mis-pronosticos":{"get":{"tags":["PronÃ³sticos"],"summary":"Ver todos mis pronÃ³sticos","operationId":"getMisPronosticos_1","parameters":[{"name":"quinielaId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MisPronosticosDTO"}}}}}}},"/partidos":{"get":{"tags":["Partidos"],"summary":"Listar todos los partidos","description":"Filtrar por ?fecha= o ?fase=grupos","operationId":"getPartidos","parameters":[{"name":"fecha","in":"query","required":false,"schema":{"type":"string"}},{"name":"fase","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PartidoDTO"}}}}}}}},"/auth/me":{"get":{"tags":["AutenticaciÃ³n"],"summary":"Obtener perfil del usuario actual","operationId":"getPerfil","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UsuarioPerfilDTO"}}}}}}},"/api/resultados/pendientes":{"get":{"tags":["Resultados"],"summary":"Obtener partidos pendientes","operationId":"getPartidosPendientes","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PartidoDTO"}}}}}}}},"/api/resultados/partidos":{"get":{"tags":["Resultados"],"summary":"Obtener todos los partidos","operationId":"getPartidos_1","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PartidoDTO"}}}}}}}},"/api/resultados/en-vivo":{"get":{"tags":["Resultados"],"summary":"Obtener partidos en vivo","operationId":"getPartidosEnVivo","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/resultados/debug":{"get":{"tags":["Resultados"],"summary":"Debug endpoint","operationId":"debug","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/resultados/completados":{"get":{"tags":["Resultados"],"summary":"Obtener partidos con resultados","operationId":"getPartidosConResultados","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PartidoDTO"}}}}}}}},"/api/grupos":{"get":{"tags":["Grupos FIFA"],"summary":"Obtener todos los grupos con tablas de posiciones","operationId":"getAllGrupos","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TablaGruposDTO"}}}}}}},"/api/grupos/{nombre}":{"get":{"tags":["Grupos FIFA"],"summary":"Obtener un grupo especÃ­fico","operationId":"getGrupo","parameters":[{"name":"nombre","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GrupoDTO"}}}}}}},"/api/grupos/partidos":{"get":{"tags":["Grupos FIFA"],"summary":"Obtener todos los partidos","operationId":"getPartidos_2","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PartidoDTO"}}}}}}}},"/admin/users":{"get":{"tags":["AdministraciÃ³n"],"summary":"Lista de usuarios","description":"Usuarios registrados con bÃºsqueda y filtro","operationId":"getUsers","parameters":[{"name":"search","in":"query","required":false,"schema":{"type":"string"}},{"name":"verificado","in":"query","required":false,"schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AdminUserListDTO"}}}}}}}},"/admin/users/{id}":{"get":{"tags":["AdministraciÃ³n"],"summary":"Detalle de usuario","description":"InformaciÃ³n detallada de un usuario y sus quinielas","operationId":"getUserDetail","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AdminUserDetailDTO"}}}}}}},"/admin/system":{"get":{"tags":["AdministraciÃ³n"],"summary":"Estado del sistema","description":"Health check de API, BD y Ãºltima actualizaciÃ³n de partidos","operationId":"getSystemStatus","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AdminSystemDTO"}}}}}}},"/admin/quinielas":{"get":{"tags":["AdministraciÃ³n"],"summary":"Lista de quinielas","description":"Quinielas con bÃºsqueda y ordenamiento","operationId":"getQuinielas_1","parameters":[{"name":"search","in":"query","required":false,"schema":{"type":"string"}},{"name":"sort","in":"query","required":false,"schema":{"type":"string"}},{"name":"order","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AdminQuinielaListDTO"}}}}}}}},"/admin/dashboard":{"get":{"tags":["AdministraciÃ³n"],"summary":"Dashboard de mÃ©tricas","description":"Devuelve conteos de usuarios, quinielas, pronÃ³sticos y partidos en vivo","operationId":"getDashboard","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AdminDashboardDTO"}}}}}}},"/admin/activity":{"get":{"tags":["AdministraciÃ³n"],"summary":"Actividad reciente","description":"Ãltimos usuarios, quinielas y partidos (mÃ¡x. 10 cada uno)","operationId":"getActivity","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AdminActivityDTO"}}}}}}}},"components":{"schemas":{"CrearQuinielaRequest":{"required":["codigoInvitacion","nombre"],"type":"object","properties":{"nombre":{"type":"string"},"codigoInvitacion":{"type":"string"}}},"QuinielaDTO":{"required":["administrador","codigoInvitacion","esPublica","id","nombre","participantes"],"type":"object","properties":{"id":{"type":"integer","format":"int64"},"nombre":{"type":"string"},"codigoInvitacion":{"type":"string"},"administrador":{"$ref":"#/components/schemas/UsuarioDTO"},"participantes":{"type":"array","items":{"$ref":"#/components/schemas/UsuarioDTO"}},"esPublica":{"type":"boolean"}}},"UsuarioDTO":{"required":["email","id","nombre","puntosTotales","rol"],"type":"object","properties":{"id":{"type":"integer","format":"int64"},"nombre":{"type":"string"},"email":{"type":"string"},"rol":{"type":"string"},"puntosTotales":{"type":"integer","format":"int32"}}},"UnirseQuinielaRequest":{"required":["codigoInvitacion"],"type":"object","properties":{"codigoInvitacion":{"type":"string"}}},"CrearPronosticoRequest":{"required":["golesLocalPredicho","golesVisitantePredicho","idParticipacion","idPartido"],"type":"object","properties":{"idParticipacion":{"type":"integer","format":"int64"},"idPartido":{"type":"integer","format":"int64"},"golesLocalPredicho":{"type":"integer","format":"int32"},"golesVisitantePredicho":{"type":"integer","format":"int32"}}},"PartidoDTO":{"required":["equipoLocal","equipoVisitante","estado","fechaHora","id"],"type":"object","properties":{"id":{"type":"integer","format":"int64"},"equipoLocal":{"type":"string"},"equipoVisitante":{"type":"string"},"fechaHora":{"type":"string"},"grupo":{"type":"string"},"grupoId":{"type":"integer","format":"int64"},"equipoLocalId":{"type":"integer","format":"int64"},"equipoVisitanteId":{"type":"integer","format":"int64"},"golesLocalReal":{"type":"integer","format":"int32"},"golesVisitanteReal":{"type":"integer","format":"int32"},"estado":{"type":"string"},"minutosParaInicio":{"type":"integer","format":"int32"},"minutosJugados":{"type":"integer","format":"int32"}}},"PronosticoDTO":{"required":["golesLocalPredicho","golesVisitantePredicho","id","partido","puntosObtenidos","usuario"],"type":"object","properties":{"id":{"type":"integer","format":"int64"},"usuario":{"$ref":"#/components/schemas/UsuarioDTO"},"partido":{"$ref":"#/components/schemas/PartidoDTO"},"golesLocalPredicho":{"type":"integer","format":"int32"},"golesVisitantePredicho":{"type":"integer","format":"int32"},"puntosObtenidos":{"type":"integer","format":"int32"}}},"CrearPronosticosBatchRequest":{"required":["idQuiniela","pronosticos"],"type":"object","properties":{"idQuiniela":{"type":"integer","format":"int64"},"pronosticos":{"type":"array","items":{"$ref":"#/components/schemas/PronosticoItemRequest"}}}},"PronosticoItemRequest":{"required":["golesLocalPredicho","golesVisitantePredicho","idPartido"],"type":"object","properties":{"idPartido":{"type":"integer","format":"int64"},"golesLocalPredicho":{"type":"integer","format":"int32"},"golesVisitantePredicho":{"type":"integer","format":"int32"}}},"CrearPronosticosBatchResponse":{"required":["pronosticos","pronosticosGuardados"],"type":"object","properties":{"pronosticosGuardados":{"type":"integer","format":"int32"},"pronosticos":{"type":"array","items":{"$ref":"#/components/schemas/PronosticoDTO"}}}},"VerifyRegistrationOtpRequest":{"required":["code","email"],"type":"object","properties":{"email":{"type":"string"},"code":{"maxLength":6,"minLength":6,"type":"string"}}},"MessageResponse":{"required":["message"],"type":"object","properties":{"message":{"type":"string"}}},"ResetPasswordRequest":{"required":["code","email","newPassword"],"type":"object","properties":{"email":{"type":"string"},"code":{"maxLength":6,"minLength":6,"type":"string"},"newPassword":{"maxLength":2147483647,"minLength":6,"type":"string"}}},"ResendVerificationRequest":{"required":["email"],"type":"object","properties":{"email":{"type":"string"}}},"RegisterRequest":{"required":["email","nombre","password"],"type":"object","properties":{"nombre":{"type":"string"},"email":{"type":"string"},"password":{"maxLength":2147483647,"minLength":6,"type":"string"}}},"RegisterResponse":{"required":["message"],"type":"object","properties":{"message":{"type":"string"}}},"RefreshTokenRequest":{"required":["refreshToken"],"type":"object","properties":{"refreshToken":{"type":"string"}}},"RefreshTokenResponse":{"required":["accessToken"],"type":"object","properties":{"accessToken":{"type":"string"},"refreshToken":{"type":"string"}}},"LoginRequest":{"required":["email","password"],"type":"object","properties":{"email":{"type":"string"},"password":{"type":"string"}}},"AuthResponse":{"required":["accessToken","tipo","usuario"],"type":"object","properties":{"accessToken":{"type":"string"},"refreshToken":{"type":"string"},"tipo":{"type":"string"},"usuario":{"$ref":"#/components/schemas/UsuarioDTO"}}},"ForgotPasswordRequest":{"required":["email"],"type":"object","properties":{"email":{"type":"string"}}},"ActualizarPartidoRequest":{"required":["estado"],"type":"object","properties":{"golesLocalReal":{"type":"integer","format":"int32"},"golesVisitanteReal":{"type":"integer","format":"int32"},"estado":{"type":"string"}}},"ActualizarResultadoRequest":{"required":["golesLocal","golesVisitante"],"type":"object","properties":{"golesLocal":{"type":"integer","format":"int32"},"golesVisitante":{"type":"integer","format":"int32"}}},"QuinielaResumenDTO":{"required":["codigoInvitacion","id","nombre","puntosTotales"],"type":"object","properties":{"id":{"type":"integer","format":"int64"},"nombre":{"type":"string"},"codigoInvitacion":{"type":"string"},"puntosTotales":{"type":"integer","format":"int32"}}},"QuinielaDetalleDTO":{"required":["administrador","codigoInvitacion","id","nombre","participantes","partidos"],"type":"object","properties":{"id":{"type":"integer","format":"int64"},"nombre":{"type":"string"},"codigoInvitacion":{"type":"string"},"administrador":{"$ref":"#/components/schemas/UsuarioDTO"},"participantes":{"type":"array","items":{"$ref":"#/components/schemas/UsuarioDTO"}},"partidos":{"type":"array","items":{"$ref":"#/components/schemas/PartidoDTO"}}}},"LeaderboardEntryDTO":{"required":["aciertos","posicion","puntosTotales","usuario"],"type":"object","properties":{"posicion":{"type":"integer","format":"int32"},"usuario":{"$ref":"#/components/schemas/UsuarioDTO"},"puntosTotales":{"type":"integer","format":"int32"},"aciertos":{"type":"integer","format":"int32"}}},"MisPronosticosDTO":{"required":["pronosticos"],"type":"object","properties":{"pronosticos":{"type":"array","items":{"$ref":"#/components/schemas/PronosticoDTO"}}}},"PronosticoResumenDTO":{"required":["golesLocalPredicho","golesVisitantePredicho","puntosObtenidos","usuario"],"type":"object","properties":{"usuario":{"$ref":"#/components/schemas/UsuarioDTO"},"golesLocalPredicho":{"type":"integer","format":"int32"},"golesVisitantePredicho":{"type":"integer","format":"int32"},"puntosObtenidos":{"type":"integer","format":"int32"}}},"PronosticosPorPartidoDTO":{"required":["partido","pronosticos"],"type":"object","properties":{"partido":{"$ref":"#/components/schemas/PartidoDTO"},"pronosticos":{"type":"array","items":{"$ref":"#/components/schemas/PronosticoResumenDTO"}}}},"UsuarioPerfilDTO":{"required":["email","id","nombre","puntosTotalesGlobales","quinielas","rol"],"type":"object","properties":{"id":{"type":"integer","format":"int64"},"nombre":{"type":"string"},"email":{"type":"string"},"rol":{"type":"string"},"puntosTotalesGlobales":{"type":"integer","format":"int32"},"quinielas":{"type":"array","items":{"$ref":"#/components/schemas/QuinielaResumenDTO"}}}},"GrupoDTO":{"required":["id","nombre","pais","partidos","selecciones"],"type":"object","properties":{"id":{"type":"integer","format":"int64"},"nombre":{"type":"string"},"pais":{"type":"string"},"selecciones":{"type":"array","items":{"$ref":"#/components/schemas/SeleccionDTO"}},"partidos":{"type":"array","items":{"$ref":"#/components/schemas/PartidoDTO"}}}},"SeleccionDTO":{"required":["diferenciaGoles","golesAFavor","golesEnContra","grupo","id","nombre","pais","partidosEmpatados","partidosGanados","partidosJugados","partidosPerdidos","puntos"],"type":"object","properties":{"id":{"type":"integer","format":"int64"},"nombre":{"type":"string"},"pais":{"type":"string"},"grupo":{"type":"string"},"bandera":{"type":"string"},"partidosJugados":{"type":"integer","format":"int32"},"partidosGanados":{"type":"integer","format":"int32"},"partidosEmpatados":{"type":"integer","format":"int32"},"partidosPerdidos":{"type":"integer","format":"int32"},"golesAFavor":{"type":"integer","format":"int32"},"golesEnContra":{"type":"integer","format":"int32"},"puntos":{"type":"integer","format":"int32"},"diferenciaGoles":{"type":"integer","format":"int32"}}},"TablaGruposDTO":{"required":["grupos"],"type":"object","properties":{"grupos":{"type":"array","items":{"$ref":"#/components/schemas/GrupoDTO"}}}},"AdminUserListDTO":{"required":["email","id","nombre","quinielas","verificado"],"type":"object","properties":{"id":{"type":"integer","format":"int64"},"nombre":{"type":"string"},"email":{"type":"string"},"verificado":{"type":"boolean"},"fechaRegistro":{"type":"string"},"quinielas":{"type":"integer","format":"int64"}}},"AdminQuinielaDTO":{"required":["administrador","id","nombre"],"type":"object","properties":{"id":{"type":"integer","format":"int64"},"nombre":{"type":"string"},"administrador":{"type":"string"}}},"AdminUserDetailDTO":{"required":["cantidadQuinielas","email","id","nombre","quinielas","verificado"],"type":"object","properties":{"id":{"type":"integer","format":"int64"},"nombre":{"type":"string"},"email":{"type":"string"},"verificado":{"type":"boolean"},"fechaRegistro":{"type":"string"},"cantidadQuinielas":{"type":"integer","format":"int64"},"quinielas":{"type":"array","items":{"$ref":"#/components/schemas/AdminQuinielaDTO"}}}},"AdminSystemDTO":{"required":["api","database"],"type":"object","properties":{"api":{"type":"string"},"database":{"type":"string"},"ultimaActualizacion":{"type":"string"}}},"AdminQuinielaListDTO":{"required":["creador","id","nombre","participantes"],"type":"object","properties":{"id":{"type":"integer","format":"int64"},"nombre":{"type":"string"},"creador":{"type":"string"},"participantes":{"type":"integer","format":"int64"},"createdAt":{"type":"string"}}},"AdminDashboardDTO":{"required":["partidosLive","pronosticos","quinielas","usuarios","usuariosVerificados"],"type":"object","properties":{"usuarios":{"type":"integer","format":"int64"},"usuariosVerificados":{"type":"integer","format":"int64"},"quinielas":{"type":"integer","format":"int64"},"pronosticos":{"type":"integer","format":"int64"},"partidosLive":{"type":"integer","format":"int64"}}},"AdminActivityDTO":{"required":["partidos","quinielas","usuarios"],"type":"object","properties":{"usuarios":{"type":"array","items":{"$ref":"#/components/schemas/AdminUserDTO"}},"quinielas":{"type":"array","items":{"$ref":"#/components/schemas/AdminQuinielaDTO"}},"partidos":{"type":"array","items":{"$ref":"#/components/schemas/AdminPartidoDTO"}}}},"AdminPartidoDTO":{"required":["estado","id","local","visitante"],"type":"object","properties":{"id":{"type":"integer","format":"int64"},"local":{"type":"string"},"visitante":{"type":"string"},"estado":{"type":"string"}}},"AdminUserDTO":{"required":["email","id","nombre"],"type":"object","properties":{"id":{"type":"integer","format":"int64"},"nombre":{"type":"string"},"email":{"type":"string"}}}},"securitySchemes":{"Bearer Authentication":{"type":"http","scheme":"bearer","bearerFormat":"JWT"}}}}
